.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}
.bg-grey{
    background-color: #121113;
    color: white;
}
.bg-black{
    background-color: black;
}
.invert{
    filter: invert(1);
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
@media screen and (max-width: 500px) {
    .m-1{
        margin: 0;
    }
}
.p-1{
    padding: 15px;
}